<h5>Cat Chat</h5>

<form class="form" action="./{{name}}/comment" method="post">
        <input id='name' type="text" name="name" placeholder="Name">
        <input id='comment' type="text" name="comment" placeholder="What's on your mind?">
<input id="submit" type="submit" value="submit">
</form>


<div class="commentSection">
    {{#each comments}}
    <div class="commentContainer">
        <p class="commentName">{{name}}</p>
        <div class="left-point"></div>
        <div class="dialog-2">
        <p class="comment">{{comment}}</p>
    </div>
        <form id="post" method="POST" action="{{../name}}/comment/{{@key}}?_method=DELETE"><button class="deleteButton" type="submit">delete</button></form>
    </div>
    {{/each}}
</div>